*{
    margin: 0;
    padding: 0;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    width: 100%;
    position: fixed;
    top:0;
    background-color: #222222;
}
.head{
    
    display: flex;
    
}
 .head h1{
    font-size: 50px;
    margin-top: 25px ;
    color: #EF7C2B;
}
#header nav ul li {
    list-style: none;
    float: left;
    padding: 18px 20px;
    

}
#header nav ul li a:hover{
    color:#EF7C2B ;
  
}
#header a{
    color: aliceblue;
    font-size: 25px;
    text-decoration: none

}
.btn{
    border: 0;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #fff;
    background:transparent;
    margin-right:50px ;
    color: aliceblue;
    font-size: 10px;
}
.btn:active{
    transform: scale(0.98);
}

.DN{
    margin-top: 140px;
    text-align: center;
}
.main{
    background-image:url(/hinhanh/flame-726268_1280.jpg) ;
}
#wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-login{
    max-width: 400px;
    background: rgba(0, 0, 0 , 0.8);
    flex-grow: 1;
    padding: 30px 30px 40px;
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}
.form-heading{
    font-size: 25px;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 30px;
}
.form-group{
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}
.form-group i{
    color: #fff;
    font-size: 14px;
    padding-top: 5px;
    padding-right: 10px;
}
.form-input{
    background: transparent;
    border: 0;
    outline: 0;
    color: #f5f5f5;
    flex-grow: 1;
}
.form-input::placeholder{
    color: #f5f5f5;
}
#eye i{
    padding-right: 0;
    cursor: pointer;
}
.form-submit{
    background: transparent;
    border: 1px solid #f5f5f5;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 30px;
}
.form-submit:hover{
    border: 1px solid #54a0ff;
}

